
@import "shoropleth.scss";
@import "flexbox.scss";

$debug: false;

.maps {
  @if ($debug) {
    background: linen;
  }
  margin: 0 auto;
  text-align: center;
  @include fx-box();
  @include fx-flow(column);
  @include fx-justify-content(flex-end);
  @include fx-align-items(center);
}

.map {
  @if ($debug) {
    background: paleturquoise;
  }
}