!!!5


head
    title shoropleth
    link(rel="stylesheet", type="text/css", href="css/all.css")
    script(src="js/third-party/require.js")
    script(src="js/config/rjs.config.js")
body
    span.maps
        span.map-container#map-cis
        span.map-container#map-fo
        span.map-container#map-rus
