!!!5


head
    title shoropleth
    link(rel="stylesheet", type="text/css", href="css/all.css")
    script(src="js/third-party/require.js")
    script(src="js/config/rjs.config.js")
body
    span.map-container#uk1
    span.map-container#uk2
    span.map-container#uk3
    span.map-container#uk4
